[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/thirdweb-contracts"]
	path = lib/thirdweb-contracts
	url = https://github.com/thirdweb-dev/contracts
[submodule "lib/erc-1155"]
	path = lib/erc-1155
	url = https://github.com/0xsequence/erc-1155
